
* {
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: "myFont", Verdana, Tahoma;

   /* WIDTH: 1100px; STÖR AREAS FIXA PLS */
  width: 1100px;
  cursor: url("assets/Interior/Foremal/cursor5.png"), auto;
  
  
  }

 /* #scene_img { */
  width: 640px;
  height: 640px;
 }

  #firstSceneContainer {
   
  }

  input,textarea{
  
  outline:none
  
  }
  
  
  button,input[type="submit"]{
  
  outline:none;
  border:none;
  
  }

  button:hover,input[type="submit"]{
  
    cursor:pointer;
    transform: translateY(-0.25em);
    
    }

  li,a{
    text-decoration:none;
    }
  
  #backpack {
    position: fixed;
    bottom: 515px;
    left: 690px;
    width: 100px;
    height: 100px;
    /* border: 2px solid green; */
    

  }
 
  #backpackOpen {
    position: fixed;
    bottom: 255px;
    left: 690px;
    width: 100px;
    height: 100px;
    display: none;
    
  }

  
  
 #talkingHead {
  position: fixed;
  bottom: 526px;
  left: 350px;
  width: 80px;
  height: 78px;
 }
  
  



#menu_container {
  height: 100vh;
  max-height: 800px;
  max-width: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0px;
}

img {
  max-height: 800px;
  max-width: 800px;
}


#newgame_btn {
  background-color: rgb(0, 255, 8);
  background: none;

}

#load_btn {
  background-color: rgb(176, 3, 176);
  background: none;

}


#exit_btn {
  background-color: rgb(0, 195, 255);
  background: none;
  font-size: 20px;

}

.btn-group-vertical {
 position: relative;
 top: 70%;
 left: 36%;
 gap: 20px;
}

.btn-group-vertical button {
  height: 45px;
  width: 250px;
  color: white;
  text-shadow: 5px 5px 5px rgb(0, 208, 255); /* outline */
  font-size: 27px;

}

.next_scene_btn {
  position: relative;
  top: 5%;
  width: 100px;
  background-color: black;
  color: white;
}



#inventoryContainer {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  bottom: 340px;
  left: 710px;
  padding: 5px;
  width: 85px;
  height: 250px;
  
}

.inventoryIcons {
  border: 3px solid rgb(141, 66, 37);
  width: 60px;
  height: 60px;  
  display: none;
  
}



#combinationLock {
  position: relative;
  right: 498px;
  bottom: 270px;
  width: 60px;
  height: 70px;
  cursor: grab;
  -webkit-perspective: 500px;
  -webkit-transform: rotate(45deg);
  transform: rotate(-10deg);   
}

#combinationLock:hover {
  cursor: url("assets/Interior/Foremal/cursorfinito.png"), auto;

}

.hidden {
  display: none;
}


#dialogBox {
  position: fixed;
  bottom: 515px;
  width: 470px;
  height: 100px;
}


#dialogBoxKey1 {
  position: fixed;
  bottom: 515px;
  width: 470px;
  height: 100px;
  display: none;
}

#key1DialogText {
  position: fixed;
  bottom: 527px;
  left: 30px;
  width: 340px;
  font-size: 20px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
  display: none;
}

#dialogBoxNote {
  position: fixed;
  bottom: 515px;
  width: 470px;
  height: 100px;
  display: none;
}

#noteDialogText {
  position: fixed;
  bottom: 527px;
  left: 30px;
  width: 320px;
  font-size: 20px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
  display: none;
}

#dialogBoxGoldRoom {
  position: fixed;
  bottom: 515px;
  width: 470px;
  height: 100px;
 
}

#dialogTextGoldRoom {
  position: fixed;
  bottom: 527px;
  left: 30px;
  width: 315px;
  font-size: 20px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
  
}

#dialogBoxOpenedChest {
  position: fixed;
  bottom: 515px;
  width: 470px;
  height: 100px;
}
#dialogTextOpenedChest {
  position: fixed;
  bottom: 533px;
  left: 30px;
  width: 320px;
  font-size: 22px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
}

#dialogBoxMainDoor {
  position: fixed;
  bottom: 515px;
  width: 470px;
  height: 100px;
}

#dialogTextMainDoor {
  position: fixed;
  bottom: 525px;
  left: 30px;
  width: 325px;
  font-size: 22px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
}

#dialogBoxBarrelKey {
  position: fixed;
  bottom: 515px;
  width: 470px;
  height: 100px;
  display: none;
}

#dialogTextBarrelKey {
  position: fixed;
  bottom: 540px;
  left: 30px;
  width: 325px;
  font-size: 22px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
  display: none;
}

#dialogText {
  position: fixed;
  bottom: 527px;
  left: 30px;
  width: 300px;
  font-size: 20px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
}

#dialogText1 {
  position: fixed;
  bottom: 527px;
  left: 30px;
  width: 340px;
  font-size: 20px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900; 
}

#theGoldenKey {
  position: relative;
  width: 50px;
  height: 95px;
  bottom: 100px;
  left: 515px;
  rotate: 45deg;
}


#combLock {
  position: relative;
  width: 50px;
  height: 70px;
  bottom: 330px;
  right: 295px;
}

#lockArea {
  position: relative;
  z-index: 10;
}



#popUpKey {
  background: none;
  width: 175px;
  height: 150px;
  position: relative;
  right: 22%;
  bottom: 200px;
  
}

#hallwayDoor {
  position: relative;
  width: 110px;
  height: 180px;
  bottom: 400px;
  right: 395px;
  cursor: url("assets/Interior/Foremal/cursorfinito.png"), auto;
}

area:active {
  cursor: url("assets/Interior/Foremal/icons8-magnifying-glass-tilted-left-48.png"), auto;
}

area {
  cursor: url("assets/Interior/Foremal/cursorfinito.png"), auto;
}

#mainContainer { 
  height: 100vh;
  max-height: 800px;
  max-width: 800px;

}

#btnContainer {

}
#backBtn {
  position: relative;
  right: 815px;
  bottom: 725px;
  width: 70px;
  height: 70px;
  cursor: grab;
  -webkit-perspective: 500px;
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  
}

#backBtnLock {
  position: relative;
  width: 45px;
  bottom: 740px;
  left: 20px;
}

#backBtn:active {
  cursor: grabbing;
}


#combinationContainer {
  position: relative;
  display: flex;
  bottom: 375px;
  left: 118px;
  

}

#combinationContainer div {
  width: 150px;
  
}


#digit1 {

}


.digits {
  color: white;
  font-size: 10rem;
  padding: 0;
  margin: 0;
  font-family: Pixelify Sans, Arial;
  font-weight: 900;
}
