
*,*:before,*:after{
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: "myFont", Verdana, Tahoma;
  width: 1100px;
  cursor:pointer;
  }

  input,textarea{
  
  outline:none
  
  }
  
  
  button,input[type="submit"]{
  
  outline:none;
  border:none;
  
  }
  
  button:hover,input[type="submit"]{
  
  cursor:pointer;
  transform: translateY(-0.25em);
  
  }
  
  li,a{
  text-decoration:none;
  }



#menu_container {
  height: 100vh;
  max-height: 800px;
  max-width: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0px;
}

img {
  max-height: 800px;
  max-width: 800px;
}


#newgame_btn {
  background-color: rgb(0, 255, 8);
  background: none;

}

#load_btn {
  background-color: rgb(176, 3, 176);
  background: none;

}


#exit_btn {
  background-color: rgb(0, 195, 255);
  background: none;
  font-size: 20px;

}

.btn-group-vertical {
 position: relative;
 top: 70%;
 left: 36%;
 gap: 20px;
}

.btn-group-vertical button {
  height: 45px;
  width: 250px;
  color: white;
  text-shadow: 5px 5px 5px rgb(0, 208, 255); /* outline */
  font-size: 27px;

}

.next_scene_btn {
  position: relative;
  top: 5%;
  width: 100px;
  background-color: black;
  color: white;
}

/*#key {  
  position: relative;
  right: 20%;
  width: 10rem;
  height: 5rem;
  background: none;
}*/

#keyContainer {
  position: relative;
  right: 100px;
  -webkit-perspective: 500px;
  transform: rotate(55deg);
  height: 300px;
}

#keyFull {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 170px;
  bottom: 130px;
  left: 350px;
  transform: rotateY(-15deg);
}

#inventoryContainer {
  display: flex;
  justify-content: row;
  border: 2px solid green;
  position: relative;
  bottom: 780px;
  left: 200px;
  padding: 5px;
  width: 350px;
}

.inventoryIcons {
  width: 60px;
  border: 2px solid green;
  display: none;
}

#combinationLock {
    position: relative;
    right: 498px;
    bottom: 270px;
    width: 60px;
    height: 70px;
    cursor: grab;
    -webkit-perspective: 500px;
    -webkit-transform: rotate(45deg);
    transform: rotate(-10deg);
  
}



#dialogBox {
  width: 470px;
  height: 100px;
}

#dialogBoxContainer {
  position: relative;
  bottom: 130px;
  left: 10px;
  padding: 5px;
  width:450px;
  height: 150px;
  background-size:cover;
  background-repeat: no-repeat;
  borderDD: 5px solid greenyellow;
  
}

#dialogText {
  position: relative;
  top: -77px;
  left: 30px;
  width: 94%;
  font-size: 20px;
  color: black;
  font-family: Pixelify Sans, Arial;
  font-weight: 900;
  
}

#combLock {
  position: relative;
  width: 50px;
  height: 70px;
  bottom: 330px;
  right: 295px;
}

#lockArea {
  position: relative;
  z-index: 10;
}



#popUpKey {
  background: none;
  width: 175px;
  height: 150px;
  position: relative;
  right: 22%;
  bottom: 200px;
  
}

#magnifyingGlass {
  position: relative;
  width:150px;
  height: 150px;
  bottom: 450px;
  left: 320px;
}


area:active {
  cursor: grabbing;
}

area {
  cursor: grab;
}

#mainContainer { 
  height: 100vh;
  max-height: 800px;
  max-width: 800px;
  border: 2px solid black;
  

}

#btnContainer {

}
#backBtn {
  position: relative;
  right: 800px;
  bottom: 670px;
  width: 70px;
  height: 70px;
  cursor: grab;
  -webkit-perspective: 500px;
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  
}

#backBtnLock {
  position: relative;
  width: 45px;
  bottom: 740px;
  left: 20px;
}

#backBtn:active {
  cursor: grabbing;
}


#combinationContainer {
  position: relative;
  display: flex;
  bottom: 310px;
  left: 118px;
  

}

#combinationContainer div {
  width: 150px;
  
}


#digit1 {

}


.digits {
  color: white;
  font-size: 10rem;
  padding: 0;
  margin: 0;
  font-family: Pixelify Sans, Arial;
  font-weight: 900;
}
